#!/usr/bin/env python3
# -*- coding: utf-8 -*-

"""
API配置文件模板
请复制此文件为config.py并填写您的API密钥
"""

###############################
# 七牛云配置
###############################
# 七牛云账号的 Access Key
QINIU_ACCESS_KEY = "您的七牛云Access Key"

# 七牛云账号的 Secret Key
QINIU_SECRET_KEY = "您的七牛云Secret Key"

# 存储空间名称(Bucket)
QINIU_BUCKET_NAME = "您的存储空间名称"

# 存储空间绑定的域名(不含http://)
# 例如: your-bucket.qiniucdn.com
QINIU_BUCKET_DOMAIN = "您的存储空间域名"

###############################
# 阿里云配置
###############################
# 阿里云DashScope API密钥
ALIYUN_API_KEY = "您的阿里云DashScope API密钥" 